$header-background: center / cover no-repeat url("../img/m-h-day.jpg");
$main-font-family: "Source Sans Pro", sans-serif;
$alternate-font-family: "Hind", sans-serif;
$image-sizes-section: ("small": 415px, "medium": 430px, "big": 455px);
$content-background: #FFFFFF;
$header-text-color: #2C2F3C;
$section-footer-background-color: #21232E;
$banner-end-color: #2B59DE;
$button-color: #699900;
$special-words-color: #14ADC7;
$section-footer-text-color: #C0C3CE;
$sections-header-color: #000000;