$header-background: center / cover no-repeat url("../img/m-h-night.jpg");
$main-font-family: "Source Sans Pro", sans-serif;
$alternate-font-family: "Fresca", sans-serif;
$image-sizes-section: ("small": 430px, "medium": 442px, "big": 472px);
$content-background: #21232E;
$header-text-color: #FFFFFF;
$section-footer-background-color: #3B3F50;
$banner-end-color: #912A53;
$button-color: #E3AC00;
$special-words-color: #FF4E33;
$section-footer-text-color: #C0C3CE;
$sections-header-color: #FFFFFF;