@font-face {
	font-family: 'OpenSansBold';
	src: url('../fonts/OpenSans-Bold.ttf');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'RobotoBold';
	src: url('../fonts/Roboto-Bold.ttf');
	font-style: normal;
	font-weight: 700;
}
@font-face {
	font-family: 'Roboto-Regular';
	src: url('../fonts/Roboto-Regular.ttf');
	font-style: normal;
	font-weight: 400;
}
@font-face {
	font-family: 'Roboto-Medium';
	src: url('../fonts/Roboto-Medium.ttf');
	font-style: normal;
	font-weight: 500;
}